body{
    background-color: skyblue;
    color:white;
    font-family: "sofia";
   
} 
h1{
    color:peru;
    font-family: "Amita";
}
h2{color: orchid;
font-family: "Arizonia";
}
img {width:400px;
}
a{
    color:red;
}
h3{color:blue;
}
img {width:300px;
}
#image01 {
    width:300px;
}
#image02 {
    width:300px;
}
#image03 {
    width:300px;
}