body{
    background-color: teal;
    color:  red;
   
} 
h1{
    color: purple;
}
h1{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}